body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(36, 35, 35);
    overflow: hidden;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#root::before {
    content: "";
    background: url('codingBg.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .8;
}

#root h1 {
    color: #fff;
    font-size: 3.8rem;
    text-shadow: 3px 3px 1px black;
    margin-bottom: 30px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: #8acdcd;
    border-radius: 10px;
    box-sizing: border-box;
    width: 300px;
    height: 80px;
    margin: 5px;
    text-decoration: none;
    color:#000;
    font-size: 1.8rem;
    padding: 40px 150px;
}

@media only screen and (max-width:300px) {
    #root h1 {
        font-size: 1.4rem;
    }

    .box {
        width: 120px;
        height: 60px;
        padding:20px 100px;
    }
}

@media only screen and (min-width:300px) and (max-width:500px) {
    #root h1 {
        font-size: 1.8rem;
    }

    .box {
        width: 200px;
        height: 40px;
        padding:35px 80px;
    }
}

@media only screen and (min-width:500px) and (max-width:700px) {
    #root h1 {
        font-size: 2.8rem;
    }

    .box {
        width: 250px;
        height: 60px;
        padding:35px 120px;
    }
}